---
import { actions } from "astro:actions";
import Layout from "../layouts/Layout.astro";

const result = Astro.getActionResult(actions.createUserForm);

if (result && !result.error) {
  return Astro.redirect(result.data.redirect || "/");
}
---

<Layout title="Cadastro">
  <main class="flex flex-1 flex-col items-center justify-center">
    <form
      method="POST"
      action={actions.createUserForm}
      class="flex flex-col gap-4"
    >
      <label class="flex justify-between gap-2">
        Usuário:
        <input
          type="text"
          name="username"
          required
          class="rounded border border-gray-300"
        />
      </label>
      <label class="flex justify-between gap-2">
        Senha:
        <input
          type="password"
          name="password"
          required
          class="rounded border border-gray-300"
        />
      </label>
      <label class="flex justify-between gap-2">
        Cidade:
        <input
          type="text"
          name="city"
          required
          class="rounded border border-gray-300"
        />
      </label>
      <button
        type="submit"
        class="mt-2 cursor-pointer rounded border border-gray-300 bg-gray-200 p-1 hover:bg-gray-300 dark:border-gray-700 dark:bg-gray-900 dark:hover:bg-gray-800"
        >Cadastrar</button
      >
    </form>

    <div>
      {
        result && result.error && (
          <p style={{ color: "red" }}>{result.error.message}</p>
        )
      }
    </div>
  </main>
</Layout>
