---
import { actions } from "astro:actions";
import HomeLayout from "@components/HomeLayout";
import Layout from "@layouts/Layout.astro";

const { data: posts, error } = await Astro.callAction(actions.getPosts, {
  limit: 2,
});
---

<Layout title="Feed" showNav={true}>
  <main class="flex flex-1 flex-col items-center">
    <div class="mx-auto flex w-full max-w-7xl flex-col items-center gap-4 px-4 py-8 md:py-16">
      {error && <p class="error">{error.message}</p>}
      {posts && <HomeLayout {...posts} client:idle />}
    </div>
  </main>
</Layout>
