---
import { actions } from "astro:actions";
import Feed from "@components/Feed";
import LateralMenu from "@components/LateralMenu";
import Layout from "@layouts/Layout.astro";


const { data: posts, error } = await Astro.callAction(actions.getPosts, {
  limit: 2,
});
---

<Layout title="Feed" showNav={true}>
  <div class="flex flex-col items-center gap-4 py-8">
    <h1 class="text-2xl font-bold">Ágora</h1>

    <div class="w-full max-w-lg">
      <LateralMenu client:load />
    </div>

    {error && <p class="error">{error.message}</p>}
    {posts && <Feed {...posts} client:idle />}
  </div>
</Layout>
