---
import { actions } from "astro:actions";
import Layout from "../layouts/Layout.astro";

const result = Astro.getActionResult(actions.loginForm);

if (result && !result.error) {
  return Astro.redirect(result.data.redirect || "/");
}
---

<Layout title="Login">
  <main class="flex flex-1 flex-col items-center justify-center">
    <form method="POST" action={actions.loginForm} class="flex flex-col gap-4">
      <label class="flex justify-between gap-2">
        Username:
        <input
          type="text"
          name="username"
          required
          class="rounded border border-gray-300"
        />
      </label>
      <label class="flex justify-between gap-2">
        Password:
        <input
          type="password"
          name="password"
          required
          class="rounded border border-gray-300"
        />
      </label>
      <button
        type="submit"
        class="mt-2 cursor-pointer rounded border border-gray-300 bg-gray-200 p-1 hover:bg-gray-300 dark:border-gray-700 dark:bg-gray-900 dark:hover:bg-gray-800"
        >Login</button
      >
      <a
        href="/cadastro"
        class="cursor-pointer rounded border border-gray-300 bg-gray-200 p-1 text-center hover:bg-gray-300 dark:border-gray-700 dark:bg-gray-900 dark:hover:bg-gray-800"
      >
        Criar conta</a
      >
    </form>

    <div class="mt-4 flex flex-col items-center gap-2">
      {
        !!result?.error &&
          (result.error.code === "NOT_FOUND" ? (
            <p class="text-red-600">
              Usuário não encontrado.
              <a href="/cadastro" class="ml-1 text-blue-600 underline">
                Cadastre-se
              </a>
            </p>
          ) : (
            <p class="text-red-600">Erro: {result.error.message}</p>
          ))
      }
    </div>
  </main>
</Layout>
