<form action="/logout" method="post">
  <button
    type="submit"
    class="cursor-pointer rounded-4xl border border-[#50be91] px-4 py-2 font-bold text-[#1e4937] transition hover:bg-[#b3b3b362] dark:text-gray-400"
  >
    Logout
  </button>
</form>
