---
import { Icon } from "astro-icon/components";
import ThemeToggle from "./ThemeToggle.astro";
import LogoutButton from "./LogoutButton";

const current = Astro.url.pathname;
const user = Astro.locals.user?.info;

// Navigation items based on login status
const urls = user
  ? {
      "Página Inicial": "/",
    }
  : {
      Entrar: "/login",
      Registrar: "/register",
    };
---

<nav
  class="m-0 flex items-center justify-between bg-gray-400 p-4 dark:bg-gray-800"
  transition:name="nav"
>
  <ul class="m-0 flex gap-4">
    {
      Object.entries(urls).map(([name, url]) => (
        <li>
          {url === current ? (
            <span class="cursor-default rounded bg-gray-300 px-2 py-1 dark:bg-gray-700">
              {name}
            </span>
          ) : (
            <a
              href={url}
              class="rounded px-2 py-1 hover:bg-gray-300 dark:hover:bg-gray-700"
              data-astro-prefetch="load"
            >
              {name}
            </a>
          )}
        </li>
      ))
    }
  </ul>

  <div class="flex items-center gap-4">
    {
      user?.name ? (
        <div class="flex items-center gap-4">
          <div class="flex cursor-default items-center gap-2">
            <Icon name="mdi:account" />
            <span>
              Logado como <strong>{user.name}</strong>
            </span>
          </div>
          <LogoutButton client:load />
        </div>
      ) : (
        <a
          href="/login"
          class="rounded px-2 py-1 hover:bg-gray-300 dark:hover:bg-gray-700"
          data-astro-prefetch="load"
        >
          Você não está logado
        </a>
      )
    }

    <ThemeToggle />
  </div>
</nav>
