---
const theme = Astro.cookies.get("theme")?.value ?? "light";
---

<button
  is="theme-toggle"
  type="button"
  class="cursor-pointer rounded-4xl bg-[#50be91] px-4 py-2 font-bold text-[#1e4937] transition hover:bg-[#50be90d3]"
>
  {theme === "light" ? "Claro" : "Escuro"}
</button>

<script>
  class ThemeToggle extends HTMLButtonElement {
    connectedCallback() {
      const currentTheme =
        document.documentElement.getAttribute("data-theme") ?? "light";
      this.textContent = currentTheme === "light" ? "Claro" : "Escuro";

      this.addEventListener("click", () => {
        const root = document.documentElement;
        const currentTheme = root.getAttribute("data-theme") ?? "light";
        const newTheme = currentTheme === "light" ? "dark" : "light";

        root.setAttribute("data-theme", newTheme);
        this.textContent = newTheme === "light" ? "Claro" : "Escuro";

        requestIdleCallback(() => {
          const theme =
            document.documentElement.getAttribute("data-theme") ?? "light";
          localStorage.setItem("theme", theme);
          document.cookie = `theme=${theme}; path=/; max-age=31536000; SameSite=Lax`;
        });
      });
    }
  }

  if (!customElements.get("theme-toggle"))
    customElements.define("theme-toggle", ThemeToggle, { extends: "button" });
</script>
