---
import { ClientRouter } from "astro:transitions";
import AuthGate from "@components/AuthGate.astro";
import "../styles/global.css";

interface Props {
  title: string;
}

const { title } = Astro.props;

const preferredTheme = Astro.cookies.get("theme")?.value as
  | "light"
  | "dark"
  | undefined;
---

<!doctype html>
<html
  lang="en"
  class="h-full bg-gray-200 dark:bg-gray-900"
  {...preferredTheme ? { "data-theme": preferredTheme } : {}}
>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    {import.meta.env.DEV && <script is:inline crossorigin="anonymous" src="//unpkg.com/react-scan/dist/auto.global.js" />}
    <ClientRouter />
    <AuthGate />
    {
      !preferredTheme && (
        <script is:inline>
          (() => {
            const local = localStorage.getItem("theme");
            const savedTheme = local ?? (window.matchMedia("(prefers-color-scheme: dark)").matches
              ? "dark"
              : "light");
            document.documentElement.setAttribute("data-theme", savedTheme);

            requestIdleCallback(() => {
              localStorage.setItem("theme", savedTheme);
              document.cookie = `theme=${savedTheme}; path=/; max-age=31536000; SameSite=Lax`;
            })
          })()
        </script>
      )
    }
    <slot name="head" />
  </head>

  <body class="flex transition-colors duration-300 ease-in-out h-full flex-col dark:text-gray-300">
    <slot />
  </body>
</html>
